* {
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font18 {
    font-size: 18px;
}

.headerNav {
   background-color: #0F1111;
   height: 65px; 
}
.allSearch {
    padding: 1px;
    padding-left: 8px; 
    line-height: 36px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
}

.allSearch:hover {
    background-color: rgb(210, 209, 228)!important;
}

.searchInput input{
    width: 510px;
   /* line-height: 20px; */
   padding: 7px 10px 10px 0px;
    margin: 0;
    border: 0;
    outline: 0;
    height: 40px;
    font-size: 15px;
    box-shadow: none;
    text-indent: 8px;
}

.searchInput input:focus {
    border: 3px solid orange;
}

.searchIcon img {
    width: 30px;
}

.searchIcon {
    padding: 4px; 
    /* line-height: 35px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchIcon:hover {
    background-color: rgb(230, 170, 6)!important;
}

.roundedWhiteBorderNav {
    border: 1px solid #212529;
    border-radius: 5px;
}

.roundedWhiteBorderNav:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.nav2 {
    margin-top: 65px;
    background-color: #232f3e;
}

.helpAlertBody{
    border-bottom: 3px solid rgb(184, 183, 183);

}

.helpAlertMain {
    margin: 30px 200px 0px 200px;
}

.helpAlert {
    border: 3px solid orange;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-left: 13px solid orange;
}

#alertIcon {
    width: 20px;
}

.someThingsBody {
    border-bottom: 1px solid rgb(184, 183, 183);
}

.someThings {
    width: 32%;
}

.someThingsBody a:hover{
    background-color: rgb(242, 236, 223) !important;
}

.someThingsBody .font18:hover {
    color: rgb(231, 164, 40)!important;
}

.someThingsBody input {
    width: 100%;
    padding-left: 35px;
    outline: 3px solid rgb(244, 244, 244)!important;
    border: 3px solid rgb(43, 69, 85)!important;
    border-radius: 5px;
    background: transparent url("/assets/images/search.svg") no-repeat 13px;
}

.someThingsBody input:focus {
    outline: 3px solid rgb(135, 206, 251)!important;
    border: 3px solid rgb(43, 69, 85)!important;
}

.backToTop {
    background-color: #232f3e;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
}