* {
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.headerNav {
   background-color: #0F1111; 
}
.allSearch {
    padding: 1px;
    padding-left: 8px; 
    line-height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
}

.searchInput input{
    width: 500px;
   /* line-height: 20px; */
   padding: 7px 10px 10px 0px;
    margin: 0;
    border: 0;
    outline: 0;
    height: 40px;
    font-size: 15px;
    box-shadow: none;
    text-indent: 8px;
}

.searchInput input:focus {
    border: 3px solid orange;
}

.allSearch:has(input:focus) {
    border: 2px solid orange;
  }

.searchIcon img {
    width: 30px;
}

.searchIcon {
    padding: 4px; 
    /* line-height: 35px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.roundedWhiteBorderNav {
    border: 1px solid #212529;
    border-radius: 5px;
}

.roundedWhiteBorderNav:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.nav2 {
    margin-top: 65px;
    background-color: #232f3e;
}

.hi {
    margin-top: 100px;
}